In [1]:
from dotenv import load_dotenv
import boto3
load_dotenv()
import os
print(os.getenv("AWS_ACCESS_KEY_ID"))

AKIA2JHUK4EGCLO2FNS4

In [2]:
AWS_ACCESS_KEY_ID = os.getenv("AWS_ACCESS_KEY_ID")
AWS_SECRET_ACCESS_KEY = os.getenv("AWS_SECRET_ACCESS_KEY")

In [3]:
s3_resource = boto3.resource('s3',aws_access_key_id=AWS_ACCESS_KEY_ID,aws_secret_access_key=AWS_SECRET_ACCESS_KEY)

In [4]:
bucket = s3_resource.Bucket('anyoneai-datasets')

In [5]:
DATA_FOLDER = os.getenv('LOCATION_DIR')

In [ ]:
for object_summary in bucket.objects.filter(Prefix="SKU-110K/SKU110K_fixed"):
    try:
        with open(os.path.join(DATA_FOLDER, os.path.split(object_summary.key)[-1]), 'wb') as data:
            bucket.download_fileobj(object_summary.key, data)
    except IsADirectoryError:
        continue

In [9]:
print(DATA_FOLDER)

data

In [8]:
os.getcwd()

'c:\\Users\\Fede\\Desktop\\FOCUS\\AnyoneAI\\FinalProject\\notebook'

In [8]:
import pandas as pd
import cv2

In [2]:
DATA_FOLDER = os.getenv('LOCATION_DIR')

In [3]:
subset = 'train'

In [5]:
data = pd.read_csv(f'{DATA_FOLDER}/annotations_'+subset+'.csv', names=["image_name", "x1", "y1", "x2", "y2","class", "image_width", "image_height" ])

In [6]:
data

,image_name,x1,y1,x2,y2,class,image_width,image_height
0,train_0.jpg,208,537,422,814,object,3024,3024
1,train_0.jpg,1268,1923,1365,2209,object,3024,3024
2,train_0.jpg,1135,2074,1261,2166,object,3024,3024
3,train_0.jpg,1045,2085,1122,2258,object,3024,3024
4,train_0.jpg,976,2036,1040,2177,object,3024,3024
...,...,...,...,...,...,...,...,...
1208477,train_999.jpg,422,2386,675,2542,object,2336,4160
1208478,train_999.jpg,427,2581,667,2715,object,2336,4160
1208479,train_999.jpg,699,2365,823,2474,object,2336,4160
1208480,train_999.jpg,1849,1678,2108,1769,object,2336,4160
1208481,train_999.jpg,905,1589,1144,1712,object,2336,4160

In [7]:
print(subset+"_df shape: ", data.shape)
filenames = data['image_name'].unique().tolist()

train_df shape:  (1208482, 8)

In [10]:
data.head(5)

    image_name    x1    y1    x2    y2   class  image_width  image_height
0  train_0.jpg   208   537   422   814  object         3024          3024
1  train_0.jpg  1268  1923  1365  2209  object         3024          3024
2  train_0.jpg  1135  2074  1261  2166  object         3024          3024
3  train_0.jpg  1045  2085  1122  2258  object         3024          3024
4  train_0.jpg   976  2036  1040  2177  object         3024          3024

In [20]:
index = data[data['image_name'] == 'train_22.jpg'].index.tolist()

In [21]:
img_path = os.path.join('data_v1/train/train_22.jpg')
image = cv2.imread(img_path)

In [ ]:
img_path = os.path.join('data_v1/train/train_22.jpg')
image = cv2.imread(img_path)
for idx in index:
    x1=int(data.iloc[idx]['x1'])
    y1=int(data.iloc[idx]['y1'])
    x2=int(data.iloc[idx]['x2'])
    y2=int(data.iloc[idx]['y2'])

    window_name = 'Image'
    # # represents the top left corner of rectangle
    start_point=(x1,y1)
    end_point=(x2,y2)
    print(start_point, end_point)

    # # Blue color in BGR
    color = (0, 0, 255)
    # # Line thickness of 2 px
    thickness = 2

    image = cv2.rectangle(image, start_point, end_point, color, thickness)
    cv2.imwrite('data_v1/data_bb/'+'train_22.jpg',image)

In [31]:
for filename in filenames:
    img_path=os.path.join('data_v1/train/', filename)
    if os.path.exists(img_path):
        index = data[data['image_name']==filename].index.tolist()
        #print(len(index))
        image = cv2.imread(img_path)
        for idx in index:
            x1=int(data.iloc[idx]['x1'])
            y1=int(data.iloc[idx]['y1'])
            x2=int(data.iloc[idx]['x2'])
            y2=int(data.iloc[idx]['y2'])

            # read image
            #bounding box
            #train_1076.jpg,836,1382,912,1534,object,1920,2560

            # # Window name in which image is displayed
            window_name = 'Image'
            # # represents the top left corner of rectangle
            start_point=(x1,y1)
            end_point=(x2,y2)
            print(start_point, end_point)

            # # Blue color in BGR
            color = (0, 0, 255)
            # # Line thickness of 2 px
            thickness = 3

            image = cv2.rectangle(image, start_point, end_point, color, thickness)
            cv2.imwrite('data_v1/data_bb/'+filename, image)

(767, 1670) (846, 1887)
(859, 1667) (945, 1882)
(961, 1661) (1040, 1881)
(1050, 1670) (1127, 1875)
(1139, 1676) (1216, 1892)
(1228, 1682) (1301, 1888)
(1314, 1679) (1394, 1885)
(1584, 1667) (1668, 1887)
(1492, 1701) (1572, 1882)
(1676, 1673) (1756, 1892)
(1762, 1685) (1843, 1890)
(681, 1667) (760, 1878)
(15, 2127) (144, 2337)
(1857, 1682) (1922, 1885)
(1406, 1676) (1470, 1900)
(599, 1664) (674, 1877)
(1372, 1357) (1454, 1556)
(313, 1667) (401, 1875)
(230, 2078) (295, 2278)
(813, 1329) (901, 1541)
(906, 1332) (999, 1545)
(1007, 1338) (1094, 1542)
(1102, 1348) (1182, 1538)
(1191, 1341) (1273, 1538)
(408, 1676) (487, 1878)
(1280, 1344) (1363, 1551)
(1553, 1363) (1627, 1548)
(1639, 1357) (1727, 1562)
(1734, 1360) (1814, 1560)
(1820, 1366) (1902, 1551)
(0, 1854) (92, 2045)
(224, 1793) (302, 1986)
(1455, 1351) (1546, 1550)
(313, 2035) (412, 2205)
(414, 1320) (499, 1542)
(519, 2007) (602, 2207)
(642, 2287) (714, 2528)
(718, 2296) (789, 2536)
(795, 2296) (871, 2525)
(881, 2296) (948, 2522)
(955, 2296) (1042, 2522)
(1047, 2302) (1123, 2529)
(556, 2293) (626, 2530)
(1130, 2299) (1202, 2529)
(1289, 2333) (1374, 2523)
(1391, 2324) (1470, 2522)
(1480, 2330) (1556, 2522)
(1575, 2339) (1650, 2521)
(1654, 2324) (1720, 2517)
(718, 1329) (811, 1548)
(1212, 2327) (1288, 2535)
(482, 2296) (550, 2536)
(402, 2302) (475, 2535)
(249, 2407) (292, 2552)
(608, 2004) (694, 2205)
(694, 2011) (786, 2206)
(795, 2011) (872, 2205)
(875, 2007) (951, 2203)
(958, 2007) (1032, 2209)
(1044, 2011) (1120, 2209)
(1123, 2007) (1203, 2204)
(1228, 2011) (1304, 2199)
(1305, 2038) (1387, 2202)
(1397, 2032) (1469, 2209)
(1480, 2032) (1558, 2215)
(1578, 2032) (1663, 2222)
(1673, 2047) (1753, 2207)
(1756, 2035) (1829, 2208)
(1829, 2029) (1917, 2195)
(510, 1332) (606, 1544)
(608, 1323) (700, 1539)
(417, 2029) (515, 2206)
(988, 353) (1093, 553)
(1219, 691) (1316, 892)
(1105, 685) (1208, 892)
(998, 660) (1098, 883)
(887, 688) (985, 889)
(770, 672) (869, 882)
(651, 672) (754, 879)
(537, 666) (640, 869)
(424, 663) (529, 875)
(298, 629) (414, 866)
(141, 829) (291, 1027)
(0, 856) (129, 1023)
(1817, 307) (1887, 580)
(1667, 322) (1726, 586)
(1578, 307) (1663, 565)
(1501, 313) (1577, 568)
(1406, 304) (1476, 566)
(1308, 362) (1400, 563)
(1212, 359) (1302, 559)
(1099, 359) (1196, 557)
(651, 270) (775, 338)
(764, 347) (860, 546)
(648, 341) (759, 543)
(531, 338) (638, 538)
(153, 402) (292, 576)
(0, 408) (138, 583)
(1323, 685) (1410, 892)
(1516, 691) (1599, 903)
(1744, 313) (1816, 588)
(1728, 1016) (1807, 1220)
(1366, 1010) (1444, 1207)
(1268, 1016) (1347, 1208)
(1176, 1010) (1258, 1203)
(163, 1157) (299, 1332)
(0, 1142) (137, 1329)
(1068, 991) (1160, 1202)
(973, 1004) (1056, 1209)
(1636, 1016) (1722, 1219)
(1814, 1022) (1892, 1219)
(0, 1443) (130, 1665)
(157, 1424) (285, 1672)
(1455, 1010) (1549, 1210)
(319, 1320) (409, 1538)
(783, 995) (870, 1202)
(688, 995) (775, 1201)
(592, 995) (681, 1202)
(408, 964) (573, 1127)
(316, 964) (397, 1191)
(1799, 691) (1877, 909)
(1707, 685) (1783, 907)
(1612, 688) (1697, 903)
(878, 1001) (963, 1208)
(1559, 1013) (1629, 1212)
(519, 2382) (623, 2586)
(8, 8) (139, 489)
(388, 1822) (458, 1982)
(458, 1810) (513, 1981)
(515, 1810) (574, 1967)
(572, 1813) (639, 1965)
(637, 1814) (708, 1962)
(711, 1811) (761, 1961)
(760, 1814) (817, 1966)
(817, 1811) (881, 1965)
(882, 1810) (936, 1949)
(935, 1815) (996, 1949)
(997, 1814) (1047, 1936)
(1046, 1819) (1106, 1936)
(1107, 1822) (1168, 1941)
(1168, 1813) (1214, 1940)
(1213, 1810) (1275, 1953)
(1275, 1799) (1327, 1953)
(1328, 1797) (1378, 1945)
(1377, 1804) (1434, 1945)
(1528, 1748) (1650, 1918)
(1675, 1746) (1757, 1916)
(1765, 1806) (1853, 1913)
(1855, 1726) (1913, 1912)
(1977, 1769) (2152, 2016)
(2161, 1758) (2391, 2018)
(86, 2165) (360, 2413)
(1904, 1587) (1940, 1667)
(1851, 1577) (1903, 1667)
(1810, 1553) (1839, 1671)
(1757, 1552) (1811, 1672)
(1491, 1144) (1571, 1356)
(1569, 1154) (1660, 1356)

KeyboardInterrupt: